
/* Botão do menu */
@media only screen and (max-width: 600px) {
.botao .btn .btn-dark{

  font-size: 30px;
  
}
}

/* Estilos para telas maiores */
.heading-jumbo .titular {
  margin-left: 0.5em;
  margin-right: 3em;
  font-size: 40px;
  color: #1a1c20;
}

@media only screen and (max-width: 600px) {
  .titular{
    font-size: 40px;
    margin: 0.5em;
  }
}

@media only screen and (max-width: 700px) {
  .container {
    display: block;
  }
}

.paragraph-light {
  /* Estilos para o parágrafo */
  line-height: 25px;
  font-size: 25px;
  margin-right: 3em;
  margin-left: 1em;
}



.img-fluid {
    border-radius: 11px;
}
.section{
    margin-top: 8em;
    position: static;
    overflow: visible;
    max-width: 100%;
    margin-right: 30px;
    margin-bottom: 0;
    margin-left: 30px;
    -webkit-perspective: none;
    perspective: none;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
}
p{

    font-size: large;

}

@keyframes anima_introText {
    0% {
      opacity: 0;
      transform: translateX(-10%);
      transform: translateY(-20%);
    }

    50% {
      opacity: 0.8;
      
    };
    100% {
      opacity: 1;
      transform: translateX(0%);
      transform: translateY(0%);
    }
}

.introText{

    animation-name: anima_introText;
    animation-duration:3s;
    animation-iteration-count: inherit;

}
/*-------------------------------------------------------------------------------------------------------------------------------------*/

@keyframes anima_introPerfil {
    0% {
        opacity: 0.4;
      transform: translateX(-10%);
    }
    100% {
      transform: translateX(0);
    }
}

/*-------------------------------------------------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------------------------------------------------*/

@keyframes anima_introContainer{
  0% {
    opacity: 0;
    transform: translateX(-10%);
    transform: translateY(-20%);
  }
  50% {
    opacity: 0.5;

    transform: translateX(0%);
    transform: translateY(0%);

}

  100% {
    opacity: 1;
    transform: translateX(0%);
    transform: translateY(0%);
  }
}


.introContainer{

  animation-name: anima_introContainer;
  animation-duration: 4s;
  animation-iteration-count: initial;
  
}

/*-------------------------------------------------------------------------------------------------------------------------------------*/


.introPerfil{

    animation-name: anima_introPerfil;
    animation-duration: 3s;
    animation-iteration-count: initial;

}

/*-------------------------------------------------------------------------------------------------------------------------------------*/

@keyframes anima_introNav {
    0% {
      opacity: 1;
      transform: translateY(50%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
}

.introNav{

    animation-name: anima_introNav;
    animation-duration: 3s;
    animation-iteration-count: 6;

}